# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Data & cache
*.ckpt
*.safetensors
data/.cache/
data/waypoint_results/
wandb/
data/rust_dataset
data/test
results

# Node.js
node_modules/
frontend/.next/

# Environment
.env

# openvla-sim
datasets
src/openvla-sim/objects
src/openvla-sim/third_party

